body {

  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  color: #fdfbfd;
  font-family: sans-serif; 
  background-color: #0b0614;
  background-image: 
    radial-gradient(circle at 80% 20%, rgba(158, 50, 182, 0.15) 0%, rgba(13, 78, 92, 0.1) 40%, transparent 70%),
    radial-gradient(circle at 20% 80%, rgba(6, 181, 212, 0.151) 0%, transparent 50%),

    linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  
  background-size: 100% 100%, 100% 100%, 60px 60px, 60px 60px;
  
  background-repeat: no-repeat, no-repeat, repeat, repeat;
  background-attachment: fixed;
}